:root{
    --header-logo-height: 5rem
}

body{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

    background-color: #0A0A0A;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.65rem;

}

h4{

}

h5{

}

.wrapper{
    max-width: 1200px;
    min-height: 100vh;

    margin: 0 auto;
    padding: 0 2rem;

    border-left: 1px solid white;
    border-right: 1px solid white;
}
/*     Header      */
/* ============================================= */
.header-wrapper{
    height: var(--header-logo-height);
    padding: 0 3rem;

    display: flex;

    border-bottom: 1px solid white;
}

.logo-wrapper{
    max-height: 100%;
}

.logo{
    max-height: var(--header-logo-height);
}

.header-content{
    width: 100%;

    color: #23FC0B;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.header-h2{

}

.call-button{
    padding: 0.35rem 5rem;
    margin-right: -3rem;

    color: #23FC0B;
    font-size: 1.4rem;
    
    background-color: transparent;

    border: 1px solid #23FC0B;
    border-radius: 3px;
}

/* Main Section */
/* =================================================== */

.main-section{
    height: 90vh;

    background-repeat: no-repeat;
    /* background-position: center; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 48%)), url('../jpg/logo.jpg');
    background-size: cover;
}


.main-section-h2{
    width: 100%;
    
    display: flex;
    justify-content: center;

    color: #23FC0B;

    opacity: 100%;
}

.main-h1{
    margin-top: 7rem;
    font-style: italic;
}

.content-block{
    width: 80%;
    height: 65%;
    margin: 0 auto;

    display: grid; 

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.logo-section{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

.main-section-image{
    max-width:  5.5rem;
    max-height: 5.5rem;
}

.main-section-span{
    color: #19B608;
}


/*    Offers section     */
/* ======================================================================= */

.offers-section{
 height: 260vh;
}

.offers-main-title{
    margin: 3.4rem auto;
    /* margin-top: 2.75rem; */

    width: 100%;

    color: F0F0F0;
    font-family: 'Open sans', sans-serif;
    /* font-size: 3.35rem; */
    font-weight: 700;
    text-align: center;

    display: inline-block;
}

.offers-card-section{
    margin: 0 auto;
    width: 78.5%;
    height: 150vh;

    color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


.card-first-section{
    width: 100%;
    height: 16.5rem;

    display: flex;
    justify-content: space-between;

    margin-bottom: 1.25rem;
}


.card-first-section-first-item{
    width: 49%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,52%)), url("../jpg/52820_novij-servis-mobilnij-mehanik_1.jpg");
    background-size: cover;
    background-position: center;
}

.card-first-section-second-item{
    width: 49%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,56%)), url("../jpg/Depositphotos_75578437_xl-2015-1920x1268.jpg");
    background-size: cover;
    background-position: center;
}

.card-first-section-first-item-span{
    margin-top: 35%;

    display: inline-block;

    font-size: 2.1rem;
}

.card-first-section-second-item-span{
    margin-top: 29.9%;

    display: inline-block;
    /* width: 50%; */

    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    white-space: normal;
}

.second-card-section{
    width: 100%;
    height: 16.5rem;

    display: flex;
    justify-content: space-between;
}

.card-second-section-first{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,52%)), url("../jpg/84_a793242f.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-second{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,56%), rgba(0,0,0,56%)), url("../jpg/key-repair-11.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-third{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/photo_2024-08-30_13-07-43-big.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-first-span{
    margin-top: 52%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.35rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}

.card-second-section-second-span{
    margin-top: 59.9%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}

.card-second-section-third-span{
    margin-top: 59.5%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}