:root{
    --header-logo-height: 5rem
}

body{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

    background-color: #0A0A0A;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.65rem;

}

h4{
    font-size: 1.35rem;
}

h5{

}

.wrapper{
    max-width: 1200px;
    min-height: 100vh;

    margin: 0 auto;
    padding: 0 2rem;

    border-left: 1px solid white;
    border-right: 1px solid white;
}
/*     Header      */
/* ============================================= */
.header-wrapper{
    height: var(--header-logo-height);
    padding: 0 3rem;

    display: flex;

    border-bottom: 1px solid white;
}

.logo-wrapper{
    max-height: 100%;
}

.logo{
    max-height: var(--header-logo-height);
}

.header-content{
    width: 100%;

    color: #23FC0B;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.header-h2{

}

.call-button{
    padding: 0.35rem 5rem;
    margin-right: -3rem;

    color: #23FC0B;
    font-size: 1.4rem;
    
    background-color: transparent;

    border: 1px solid #23FC0B;
    border-radius: 3px;
}

/* Main Section */
/* =================================================== */

.main-section{
    height: 90vh;

    background-repeat: no-repeat;
    /* background-position: center; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 48%)), url('../jpg/logo.jpg');
    background-size: cover;
}


.main-section-h2{
    width: 100%;
    
    display: flex;
    justify-content: center;

    color: #23FC0B;

    opacity: 100%;
}

.main-h1{
    margin-top: 7rem;
    font-style: italic;
}

.content-block{
    width: 80%;
    height: 65%;
    margin: 0 auto;

    display: grid; 

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.logo-section{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

.main-section-image{
    max-width:  5.5rem;
    max-height: 5.5rem;
}

.main-section-span{
    color: #19B608;
}


/*    Offers section     */
/* ======================================================================= */

.offers-section{
 height: 210vh;
}

.offers-main-title{
    margin: 3.4rem auto;
    /* margin-top: 2.75rem; */

    width: 100%;

    color: F0F0F0;
    font-family: 'Open sans', sans-serif;
    /* font-size: 3.35rem; */
    font-weight: 700;
    text-align: center;

    display: inline-block;
}

.offers-card-section{
    margin: 0 auto;
    width: 78.5%;
    height: 150vh;

    color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* FIRST CARD SECTION */

.card-first-section{
    width: 100%;
    height: 16.5rem;

    display: flex;
    justify-content: space-between;

    margin-bottom: 1.25rem;
}


.card-first-section-first-item{
    width: 49%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,52%)), url("../jpg/52820_novij-servis-mobilnij-mehanik_1.jpg");
    background-size: cover;
    background-position: center;
}

.card-first-section-second-item{
    width: 49%;
    height: 100%;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,56%)), url("../jpg/Depositphotos_75578437_xl-2015-1920x1268.jpg");
    background-size: cover;
    background-position: center;
}

.card-first-section-first-item-span{
    margin-top: 35%;

    display: inline-block;

    font-size: 2.1rem;
}

.card-first-section-second-item-span{
    margin-top: 29.9%;

    display: inline-block;
    /* width: 50%; */

    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    white-space: normal;
}

/* SECOND CARD SECTION */

.second-card-section{
    width: 100%;
    height: 16.5rem;

    display: flex;
    justify-content: space-between;

    margin-bottom: 1.25rem;
}

.card-second-section-first{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,52%)), url("../jpg/84_a793242f.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-second{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,56%), rgba(0,0,0,56%)), url("../jpg/key-repair-11.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-third{
    height: 100%;
    width: 32.1%;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/photo_2024-08-30_13-07-43-big.jpg");
    background-size: cover;
    background-position: center;
}

.card-second-section-first-span{
    margin-top: 52%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.35rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}

.card-second-section-second-span{
    margin-top: 59.9%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}

.card-second-section-third-span{
    margin-top: 59.5%;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    /* white-space: normal; */
}

/* THIRD CARD SECTION */

.third-section{
    width: 100%;
    height: 16.5rem;

    display: flex;
    justify-content: space-between;

    margin-bottom: 1.25rem;
}

.third-card-template{
    display: flex;
    justify-content: center;

    height: 100%;
    width: 23.65%;
}

.third-first{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/Screenshot_2-1-696x444.jpg");
    background-size: cover;
    background-position: center;
}

.third-second{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/screenshot_1-264x264.png");
    background-size: cover;
    background-position: center;
}

.third-third{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/diagnostika-kpp-264x264.jpg");
    background-size: cover;
    background-position: center;
}

.third-fourth{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/auto-electric-diagnostics-768x576.jpg");
    background-size: cover;
    background-position: center;
}

.third-section-template-span{
    width: 60%;

    display: inline-block;
    /* justify-content: center; */

    text-align: center;
    font-size: 0.95rem;
    line-height: 0.94rem;
    word-break: break-word;
    white-space: normal;
}

.third-first-span{
    margin-top: 74%;    
}

.third-second-span{
    margin-top: 81.75%;
    margin-left: 0.8rem;
}

.third-third-span{
    font-weight: 500;
    font-size: 0.915;
    margin-top: 77.5%;
}

/* ========================== */

.fourth-first{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/screenshot_5-2-264x264.png");
    background-size: cover;
    background-position: center;
}

.fourth-second{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/proshivka-i-vosstanovlenie-blokov-srs-airbag_5-264x264.jpg");
    background-size: cover;
    background-position: center;
}

.fourth-third{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/screenshot_3-25-264x264.png");
    background-size: cover;
    background-position: center;
}

.fourth-fourth{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,55%)), url("../jpg/rusifikacija-klimat-kontrol-264x264.jpg");
    background-size: cover;
    background-position: center;
}


.fourth-first-span{
    width: 100%;
    margin-top: 79%;
}

.fourth-second-span{
    width: 100%;
    margin-top: 79%;
}

.fourth-third-span{
    width: 100%;
    margin-top: 79%;
}

.fourth-fourth-span{
    width: 100%;
    margin-top: 77.5%;
}

/*       CPECIAL OFFERS SECTION */
/* ============================================================== */

.special-offers-section{
    height: 130vh;
}

.title-special-offers{
    width: 100%;
    margin: 1rem 0rem 3rem 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 0.2rem;

    display: inline-block;

    text-align: center;
}

.wrapper-special-offers-section{
    margin: 0 auto;
    width: 78.5%;
    height: 150vh;

    color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}

.special-offers{
    width: 100%;

    display: flex;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

}

.special-offers-card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    width: 32%;
}

.special-offers-card-image{
    width: 100%;
    max-height: 13rem;
    
    object-fit: fill;
}

.special-card-title{
    width: 80%;

    display: inline-block;

    text-align: center;
    font-weight: 600;
    overflow-wrap: break-word;
    line-height: 1.7rem;

    font-family: 'Montserrat', sans-serif;

    margin: 1rem 0;
}

.special-offers-card-span{
    width: 77%;
    
    color: white;
    font-weight: 300;
    font-size: 0.925rem;

    text-align: center;
    line-height: 1.4rem;

    margin: auto;
}

.our-offers-text{
    display: inline-block;

    margin: 4.5rem 0 2rem;

    font-size: 1.1rem;
    white-space: 0.1rem;
    font-family: 'Open sams' sans-serif;
    line-height: 1.5rem;
}

/* WHY TRUST US SECTION */
/* =============================================================== */

.why-trust-us{
    margin: 0 auto;
    width: 78.5%;
    height: 90vh;

    /* display: grid; */

    color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;

}

.question-title{
    width: 100%;
    display: inline-block;
    text-align: center;

    margin-bottom: 1rem;

    font-size: 2.3rem;
    font-weight: 900;
}

.question-conteiner{
    width: 55%;
    /* height: 100%; */

    margin: 0.75rem auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.quesion-png-conteiner{
    width:  3.6rem;
    height: 3.6rem;
    pudding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.3rem solid white;
    border-radius: 50%;
}

.question-span-conteiner{
    height: 100%;
    width: 86%;
    
    margin: auto 0;
    margin-left: 0.9rem;

    word-wrap: normal;
    display: inline-block;

    font-weight: 600;
    line-height: 1.6rem;
    font-size: 1.2rem;
    word-break: break-all
}

/* CONTACT US SECTION */
/* =============================================================== */

.contact-us{
    margin: 0 auto;
    margin-bottom: 8rem;
    width: 100%;
    height: 35.2rem;

    color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;

    background-image: url('../jpg/contact-us-background.jpg');
}

